<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Pets</title>
    <style>
        body
        {
            background: red;
        }

        h1 {
            color: rebeccapurple;
        }
    </style>
</head>
<body>
    <h1>Header to your homepage</h1>
    <a href="www.google.com">Google</a>

    <form id="names" method="POST" action="">
        <fieldset>
            <label>Name: </label><br>
            <input type="text" size="10" maxlength="30" name="name" id="name"
                   value="Name"><br>
            <label>Last Name: </label>
            <input type="text" size="10" maxlength="30" name="last" id="last"
                   value="Last Name"><br>
            <br><input type="submit" value="Order" id="submit" name="btnOrder">
        </fieldset>
    </form>

    <h3>Brooks</h3>
    <h3>AND</h3>
    <h3>Davids</h3>
    <h3>Amazing</h3>
    <h3>Website</h3>
</body>
</html>